
<h1>Login!</h1>
<h3>Enter your name!</h3>

<%= form_with model: @user do |form| %>
<div class='form-group'>
  <%= form.text_field :name, class:'form-control' %>
  <br>
  <button type="submit" class="btn btn-block btn-primary">Login</button>
</div>


<% end %>
